{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}
{% endblock title_block%}

{% block body_block %}
    <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            <div>
{#                <strong>{{ category.likes }}</strong> curtidas /#}
                    <strong id="like_count">{{ category.likes }}</strong> curtidas
                    {% if user.is_authenticated %}
                        <button id="likes" data-catid="{{category.id}}"
                                class="btn btn-primary btn-sm" type="button">
                            Curtir
                        </button>
                    {% endif %}
                <strong>{{ category.views }}</strong> vizualizações
            </div>
            <p>
                {% if pages %}
                    <div class="col-lg-12">
                        <ul class="list-group">
                            {% for page in pages %}
                                <li class="list-group-item justify-content-between">
                                    {#                                <a href="{{ page.url }}"> {{ page.title}}</a>#}
                                    {#                                <a href="{% url 'goto' %}?page_id={{page.id}}"\> {{ page.title}}</a>#}
                                    <a href="{% url 'goto' page.id%}"\> {{ page.title}}</a>
                                    <span class="badge badge-default badge-pill">{{ page.views }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <strong>Não há páginas nessa categoria.</strong>
                {% endif %}
            </p>
            {% if user.is_authenticated %}
                <a href="{% url 'add_page' category.slug %}">Adicionar Página em {{ category.name }}</a>
            {% endif %}
        {% else %}
            A categoria especificada não existe!
        {% endif %}
    </div>
{% endblock body_block %}